#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.logo {
  width: 20em;
  height: calc(20em * 0.648148); 
  margin: 7rem 0 0 0;
  @media (max-width: 600px) {
    margin: 3rem 0 0 0;
  }
}

.response-and-form-box {
  flex-grow: 1;
  @media (max-width: 350px) {
    margin: 0 1rem;
  }
}

.response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-out;
  margin: 0 auto;
  max-width: 60%;
  text-align: left;
  margin-bottom: 5rem;
  p {
    margin-top: 0;
  }
}

.response-container.hidden {
  opacity: 0;
}

.response, .error {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  line-height: 1.75;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  textarea {
    padding: 0.6rem 0.2rem;
    line-height: 1.75;
    margin-bottom: 1rem;
    border-color: #ff0000;
    transition: border-color 0.25s;
    font-family: "Orbitron", serif;
    letter-spacing: 0.1rem;
    height: 5rem;
  }
}
